<%- include('../partiels/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/Pinterest/profile.css">

<!--  -->
    <div class="container">
        <div class="card">
            <div class="profile-picture">
                <img src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Profile Picture">
            </div>
            <h2 class="name">Full Name</h2>
            <h3 class="username">@username</h3>
            <p class="tagline">some tagline</p>
            <p class="description">some description</p>
            <a href="#" class="button">Account settings</a>
        </div>
    </div>

<!--  -->

    <%- include('../partiels/footer.ejs') %>